<hr class="double-line" />
<div class="flex flex-wrap justify-between pb-2 leading-loose font-serif">
    <a class="flex-grow-0" href="{{ .Site.BaseURL }}">
        <svg class="fill-current inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
            height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M21 20a1 1 0 01-1 1H4a1 1 0 01-1-1V9.49a1 1 0 01.386-.79l8-6.222a1 1 0 011.228 0l8 6.222a1 1 0 01.386.79V20zM19 9.978l-7-5.444-7 5.444V19h14V9.978z"/>
        </svg>
        回首頁
    </a>
</div>
