{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article>
	<section class="mx-auto content">
		<div class="c-rich-text">
			{{- .Content -}}
		</div>
	</section>
</article>
{{ end }}

{{ define "aside" }}
	{{ partial "page-aside.html" . }}
{{ end }}   

{{ define "footer" }}
{{ $centerButton := dict "show" true "url" (printf "%s" .Site.BaseURL) "text" "回首頁" }}
{{ partial "custom-footer.html" (dict "prevButton" (dict "show" false) "centerButton" $centerButton "nextButton" (dict "show" false)) }}
{{ end }}
